@model ejercicioFT.Models.Producto

<div class="well">


    <h3>
        <strong>@Model.Nombre</strong>

        <span class="pull-right label label-primary">@Model.Precio.ToString("c")</span>
    </h3>

    <span class="lead">Tipo: @ViewBag.tipo</span>

</div>