@model ejercicioFT.Data.ProductosRepo

<h2>Lista de productos</h2>

@foreach (var item in Model.ObtenerTodos())
{
    if (item.Habilitado)
    {
        <div><h3>Nombre: </h3></div>
        <div>@item.Nombre</div>
        <div><h3>Precio: </h3></div>
        <div>@item.Precio</div>
    }
}
