@model ejercicioFT.Data.ProductosRepo

<h2>Lista de productos</h2>

@foreach (var item in Model.ObtenerTodos())
{
    //Solo muestra los productos habilitados
    if (item.Habilitado)
    { 
<div class="well">
    
    
    <h3>
        <strong>@item.Nombre</strong>

        <span class="pull-right label label-primary">@item.Precio.ToString("c")</span>
    </h3>
    
    <span class="lead">Tipo: @ViewBag.ListaOpciones.ObtenerPorId(item.TipoId).Descripcion</span>
        
</div>
    
    }
    }
